{% extends "base.html" %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'client_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Логин</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    {% endif %}
{% endblock %}
