{% extends "base.html" %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'client_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'login' %}">  <!-- Указал action для формы входа -->
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong> Your username and password didn't match. Please try again.
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="username" class="form-label">Логин</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    {% endif %}
{% endblock %}
