{% extends "base.html" %}

{% block content %}
    <div class="home-header">
        {{ install_info|safe }}
    </div>
    <div class="container">
        <div class="row">
            {% for extension in extensions %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ extension.translation.name }}</h4>
                        </div>
                        <div class="card-body">
                            <p>{{ extension.translation.short_description }}</p>
                        </div>
                        <div class="card-footer">
                            <span>v. {{ extension.version }}</span>
                            <span>тестовый период {{ extension.trial_period_days }} дней</span>
                            <a href="{% url 'extension_detail' slug=extension.translation.slug %}">Подробнее</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>


{% endblock %}
