<!-- main/templates/main/header.html -->
{% load static %}

<header class="bg-light p-3">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <img src="{% static '/home/stsn_dev_logo.svg' %}" alt="Логотип" height="50" class="mb-3 mb-md-0">
        <div class="d-flex flex-column flex-md-row align-items-center">
            <a href="mailto:example@example.com" class="text-decoration-none text-dark me-3 mb-2 mb-md-0">example@example.com</a>
            <a href="https://t.me/your_telegram_nick" class="text-decoration-none text-dark">@your_telegram_nick</a>
        </div>
    </div>
</header>
