{% extends "admin/base_site.html" %}

{% load i18n %}

{% block nav-global %}
    <div class="language-switcher">
        <form id="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" id="language-select">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" style="display: none;"> <!-- Скрываем кнопку отправки -->
        </form>
    </div>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #branding {
        margin-right: auto; /* Перемещает первый элемент влево */
    }
    #user-tools {
        margin-left: auto; /* Перемещает второй элемент вправо */
    }
    .language-switcher {
        margin-left: 10px; /* Добавляет небольшое расстояние между элементами */
    }
</style>
{% endblock %}

{% block extrahead %}{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var languageSelect = document.getElementById('language-select');
        var languageForm = document.getElementById('language-form');

        languageSelect.addEventListener('change', function() {
            languageForm.submit();
        });
    });
</script>
{% endblock %}
