{% extends 'base.html' %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Кабинет пользователя {{ user.email }}</h2>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    {% else %}
        <div class="text-center">
            <a href="{% url 'client_login' %}" class="btn btn-primary">Войти</a>
            <a href="{% url 'send_email_verification_for_register' %}" class="btn btn-secondary ms-3">Зарегистрироваться</a>
        </div>
    {% endif %}
{% endblock %}