{% extends "base.html" %}

{% block content %}
    <h2>Login2</h2>
    <form method="post" action="{% url 'client_login' %}">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Please try again.
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">{{ form.username.label }}</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">{{ form.password.label }}</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}
