{% load sass_tags %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
        <title>Заглавная страница</title>
    {% endblock %}

    <link rel="stylesheet" href="{% sass_src 'css/main.sass' %}">
</head>
<body>
    <main class="wrapper">
        {% include 'header.html' %}

        <div class="content">
            <div class="container">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'success' %}success
                                                   {% elif message.tags == 'error' %}danger
                                                   {% elif message.tags == 'info' %}info
                                                   {% elif message.tags == 'warning' %}warning
                                                   {% else %}primary{% endif %}
                                        alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>

        {% include 'footer.html' %}
    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>
