<!-- main/templates/main/header.html -->
{% load static %}

<header class="bg-light p-3">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <a href="{% url 'home' %}">
            <img src="{% static 'icons/stsn_dev_logo.svg' %}" alt="Logo" height="70" class="mb-3 mb-md-0">
        </a>
        <div class="d-flex flex-column flex-md-row align-items-center">
            <div class="d-flex align-items-center mb-2 mb-md-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" class="me-2" fill="#007bff">
                    <path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"></path>
                </svg>
                <a href="mailto:support@stsn-dev.kyiv.ua" class="text-decoration-none text-dark me-3">support@stsn-dev.kyiv.ua</a>
            </div>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="24" height="24" class="me-2" fill="#0088cc">
                    <path d="M248 8C111 8 0 119 0 256S111 504 248 504 496 393 496 256 385 8 248 8zM363 176.7c-3.7 39.2-19.9 134.4-28.1 178.3-3.5 18.6-10.3 24.8-16.9 25.4-14.4 1.3-25.3-9.5-39.3-18.7-21.8-14.3-34.2-23.2-55.3-37.2-24.5-16.1-8.6-25 5.3-39.5 3.7-3.8 67.1-61.5 68.3-66.7 .2-.7 .3-3.1-1.2-4.4s-3.6-.8-5.1-.5q-3.3 .7-104.6 69.1-14.8 10.2-26.9 9.9c-8.9-.2-25.9-5-38.6-9.1-15.5-5-27.9-7.7-26.8-16.3q.8-6.7 18.5-13.7 108.4-47.2 144.6-62.3c68.9-28.6 83.2-33.6 92.5-33.8 2.1 0 6.6 .5 9.6 2.9a10.5 10.5 0 0 1 3.5 6.7A43.8 43.8 0 0 1 363 176.7z"></path>
                </svg>
                <a href="https://t.me/stsn_dev" class="text-decoration-none text-dark">@stsn_dev</a>
            </div>
            <a href="{% url 'cabinet' %}" class="ms-4">
                <img src="{% static user.is_authenticated|yesno:'icons/user.svg,icons/register.svg' %}" class="border-start ps-3" alt="{{ user.is_authenticated|yesno:'user,login or register' }}" height="70">
            </a>
        </div>
    </div>
</header>
